{% extends "main.html" %}

{% load static %}

{% block title %}
    Students -
{% endblock title %}


{% block stylesheets %}
    <!-- This style sheet in necessary because it contains body style -->
    <link rel="stylesheet" href="{% static 'css/dashboard/dashboard.css' %}">
{% endblock %}


{% block navbar %}
    {% include 'components/navbar/navbar_dashboard.html' %}
{% endblock %}


{% block content %}
    {% include 'components/aside/aside_dashboard.html' with active_page='students' %}

    <div class="p-5">
        {% include 'accounts/students_list/components/students.html' with students=students %}
        {% include 'accounts/students_list/components/pagination.html' with page=students %}
    </div>
{% endblock content %}
