{% extends "socialaccount/base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}Sign In Via Google{% endblock %}

{% block content %}
    <div class="h-screen relative w-full flex flex-col space-y-8 justify-center items-center">
        <a href="{% url 'account_login' %}"
           class="hidden md:flex flex-row rounded-lg absolute top-20 left-20 bg-gray-700 space-x-6 px-3 shadow-lg py-1 justify-center items-center">
            <span class="font-medium text-white text-lg">Back to Login</span>
            <img class="w-5" src="{% static 'imgs/404/arrow-return-left.svg' %}" alt="">
        </a>

    <a href="{% url 'account_login' %}"
           class="md:hidden flex flex-row rounded-lg bg-gray-700 space-x-6 px-3 shadow-lg py-1 justify-center items-center">
            <span class="font-medium text-white text-lg">Back to Login</span>
            <img class="w-5" src="{% static 'imgs/404/arrow-return-left.svg' %}" alt="">
        </a>
        <h1 class="text-4xl text-center px-10">{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>

        <p class="text-lg text-center px-10">{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from
            {{ provider }}.{% endblocktrans %}</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit"
                    class="rounded-full bg-[#879EF1] hover:bg-[#BA68C8] transition-all text-white text-2xl py-4 px-[50px] cursor-pointer">
                Continue
            </button>
        </form>
    </div>
{% endblock %}
