<div class="flex justify-start flex-wrap">

    {% if not files %}
        <h3 class="text-gray-800 text-lg">No files found</h3>
    {% endif %}
    {% for file in files %}
        <a href="{% url 'view_file' file.id %}" class="mb-8 mx-3.5 w-[220px] h-[190px] rounded-3xl bg-white hover:bg-gray-100 transition-all hover:translate-y-1 focus:translate-y-1 focus:bg-gray-100">
            <div class="file-info rounded-3xl w-full h-full pt-4 pl-6 pb-10 pr-10  shadow-[0px_4px_4px_rgba(0,0,0,0.25)]"
                 draggable="true"
                 data-id="{{ file.id }}">
                <h2 class="file-name font-bold text-4xl break-words">{{ file.name|truncatechars:10 }}</h2>
                <p class="file-structure text-lg font-normal">{{ file.get_file_access_display }}</p>
                <p class="file-type text-lg font-normal">{{ file.get_file_type_display }}</p>
                <span class="text-indigo-900">{{ file.date_created|date:"Y-m-d" }}</span>
            </div>
        </a>
    {% endfor %}

</div>