{% load static %}

<div class="h-max p-10  rounded-3xl bg-white text-center shadow-[0px_4px_4px_rgba(0,0,0,0.25)]">
    <div class="profile-img w-[220px] h-[220px] m-auto mt-5">
        <img src="{% include 'accounts/profile/components/profile_img.html' with user=user %}" class="rounded-full w-full h-full" alt="">
    </div>
    <div class="flex flex-col space-y-3 mt-5">
        <div>
            <h3 class="text-2xl text-center font-bold">{{ user.first_name }} {{ user.last_name }}</h3>
        </div>
        <div>
            <h3 class="text-2xl text-center">{{ user.account.get_role_display }}</h3>
        </div>
        <div>
            <h5 class="text-md">Joined on <span class="text-indigo-900">{{ user.date_joined|date }}</span></h5>
        </div>
    </div>
</div>
