<div class="list-files-container flex justify-around flex-wrap p-20">

    <a href="#">
        <div class="file-info rounded-3xl mb-8 bg-white pt-4 pl-6 pb-10 pr-10 w-[220px] shadow-[0px_4px_4px_rgba(0,0,0,0.25)]" draggable="true">
            <h2 class="file-name font-bold text-4xl">TP_1</h2>
            <p class="file-structure text-lg font-normal">Sequential</p>
            <p class="file-type text-lg font-normal">TOF</p>
        </div>
    </a>
    <a href="#">
        <div class="file-info rounded-3xl mb-8 bg-white pt-4 pl-6 pb-10 pr-10 w-[220px] shadow-[0px_4px_4px_rgba(0,0,0,0.25)]" draggable="true">
            <h2 class="file-name font-bold text-4xl">TP_2</h2>
            <p class="file-structure text-lg font-normal">Sequential</p>
            <p class="file-type text-lg font-normal">TOF</p>
        </div>
    </a>
    <a href="#">
        <div class="file-info rounded-3xl mb-8 bg-white pt-4 pl-6 pb-10 pr-10 w-[220px] shadow-[0px_4px_4px_rgba(0,0,0,0.25)]" draggable="true">
            <h2 class="file-name font-bold text-4xl">TP_3</h2>
            <p class="file-structure text-lg font-normal">Sequential</p>
            <p class="file-type text-lg font-normal">TOF</p>
        </div>
    </a><a href="#">
        <div class="file-info rounded-3xl mb-8 bg-white pt-4 pl-6 pb-10 pr-10 w-[220px] shadow-[0px_4px_4px_rgba(0,0,0,0.25)]" draggable="true">
            <h2 class="file-name font-bold text-4xl">TP_4</h2>
            <p class="file-structure text-lg font-normal">Sequential</p>
            <p class="file-type text-lg font-normal">TOF</p>
        </div>
    </a>
    <a href="#">
        <div class="file-info rounded-3xl mb-8 bg-white pt-4 pl-6 pb-10 pr-10 w-[220px] shadow-[0px_4px_4px_rgba(0,0,0,0.25)]" draggable="true">
            <h2 class="file-name font-bold text-4xl">TP_5</h2>
            <p class="file-structure text-lg font-normal">Sequential</p>
            <p class="file-type text-lg font-normal">TOF</p>
        </div>
    </a>
    <a href="#">
        <div class="file-info rounded-3xl mb-8 bg-white pt-4 pl-6 pb-10 pr-10 w-[220px] shadow-[0px_4px_4px_rgba(0,0,0,0.25)]" draggable="true">
            <h2 class="file-name font-bold text-4xl">TP_6</h2>
            <p class="file-structure text-lg font-normal">Sequential</p>
            <p class="file-type text-lg font-normal">TOF</p>
        </div>
    </a>
</div>

<div id="delete-file-section" class="bottom-10 invisible  h-10 w-10 absolute bottom-20 left-[50%] rounded-full bg-[#8943D3] flex justify-center items-center">
    <i class="fa-solid fa-trash-can text-white"></i>
</div>

