{% load static%}
<div class="settings-section flex flex-wrap justify-between p-20">
    <div class="profile-info p-10 mb-4 rounded-3xl bg-white shadow-[0px_4px_4px_rgba(0,0,0,0.25)]">
        <h2 class="block text-center font-bold text-4xl">Profile</h2>
        <div class="relative">
            <img src="{% static 'imgs/download.jpg' %}" class="profile-img photo rounded-full m-[auto] mt-5 w-[220px] h-[220px] z-10" alt="">
            <div class="text-center overlay absolute top-[75%] left-[50%] translate-x-[-50%] translate-y-[-50%] w-[220px] h-[110px] bg-blue-300 "
                 style="border-bottom-left-radius: 110px;
                    border-bottom-right-radius: 110px;">
                change
            </div>
        </div>
        <div class="inputs">
            <div class="mb-6 mt-8 flex justify-center">
                <span class="font-bold text-2xl mr-3">Name</span>
                <input class="inline border rounded-xl border-[#232323] p-2" type="text" placeholder="Ouassim Hamdani">
            </div>

            <div class="flex justify-center">
                <span class="font-bold text-2xl mr-5">Email</span>
                <input class="inline border rounded-xl border-[#232323] p-2" type="email" placeholder="o_hamdani@estin.dz">
            </div>

        </div>
    </div>
    <div>
        <div class="security p-16 bg-white mb-6 rounded-3xl shadow-[0px_4px_4px_rgba(0,0,0,0.25)]">
            <h1 class="block text-center font-bold text-4xl">Security</h1>
            <div class="flex justify-center">
                <button class="delete-account-btn text-white bg-[#5C5C5C] p-6 rounded-3xl mt-6">Chnage  password</button>
            </div>
        </div>
        <div class="deletion-account p-16 bg-white rounded-3xl shadow-[0px_4px_4px_rgba(0,0,0,0.25)]">
            <h1 class="block text-center font-bold text-4xl">Deletion</h1>
            <div class="flex justify-center">
                <button class="delete-account-btn text-white bg-[#BC2F2F] p-6 rounded-3xl mt-6">Delete Account</button>
            </div>
        </div>
    </div>
    <div></div>
</div>

<style>

</style>
