<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}VisualSFSD</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}

    <!-- Style sheets -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    {% block stylesheets %}
    {% endblock %}

    <!-- Scripts -->
    {% block scripts %}

    {% endblock %}


    <!-- jQuery -->
{#    <script src="https://code.jquery.com/jquery-3.6.0.min.js"#}
{#            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>#}

    <!-- JS Cookie -->
{#    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>#}
{#    <script>#}
{#        let csrfToken = Cookies.get('csrftoken');#}
{##}
{#        function csrfSafeMethod(method) {#}
{#            // these HTTP methods do not require CSRF protection#}
{#            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));#}
{#        }#}
{##}
{#        $.ajaxSetup({#}
{#            beforeSend: function (xhr, settings) {#}
{#                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {#}
{#                    xhr.setRequestHeader("X-CSRFToken", csrfToken);#}
{#                }#}
{#            }#}
{#        });#}
{#        $(document).ready(function () {#}
{#            {% block domready %}#}
{#            {% endblock %}#}
{#        });#}
{#    </script>#}


    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <!-- Fontawesome -->
</head>

<body>

{% block navbar %}

{% endblock navbar %}

<div>
    {% comment %}{% include 'components/messages.html' %}{% endcomment %}

    {% block content %}

    {% endblock %}
</div>

{% comment %}{% include 'components/footer.html' %}{% endcomment %}

</body>

</html>

<style>
    html {
        font-family: 'Poppins', sans-serif;
    }
</style>