{% extends "main.html" %}

{% load static %}

{% block title %}
    {{ file.name }} -
{% endblock title %}

{% block scripts %}
    <script src="{% static 'js/lib/d3.v7.min.js' %}"></script>

    <script>
        let fileData = {{ data|safe }};
        const FILE_NAME = "{{ file.name }}";
        const FILE_ACCESS = "{{ file.get_file_access_display }}";
        const FILE_TYPE = "{{ file.get_file_type_display }}";
        const SAVE_FILE_URL = "{% url 'save_file' file.id %}";
        const EDIT_FILE_NAME_URL = "{% url 'save_file_name' file.id %}";

        console.log(fileData);
    </script>
    <script type="module" src="{% static 'js/files/view_file/index.js' %}"></script>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/view_file/output.css' %}">
{% endblock %}


{% block navbar %}
    {% include 'components/navbar/view_file/navbar_view_file.html' %}
{% endblock %}


{% block content %}
    {% include "files/view_file/components/animation-speed.html" %}

    <button id="save-file-btn" data-id="{{ file.id }}"
            class="save-file-btn shadow-2xl bg-[#BA68C8] z-5 left-20 bottom-20 rounded-full transition-all fixed w-[80px] h-[80px] flex justify-center items-center"
            title="Save">
        <img src="{% static 'imgs/view_file/saveBtn.svg' %}" alt="Save">
    </button>

    <div class="flex flex-row items-center justify-between">
        {% include "files/view_file/components/toolsbar.html" %}
        {% include "files/view_file/components/ms.html" %}
        {% include "files/view_file/components/mc.html" %}
    </div>

{% endblock content %}
