{% load static %}


<div id="guide-modal-overlay"
     class="guide-modal-overlay hidden fixed top-0 left-0 w-full h-screen z-[99999999]"></div>

<div id="guide-modal"
     class="no-select w-[500px] hidden fade guide-modal fixed top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] flex items-center justify-center z-[99999999] rounded-full">
    <!-- Modal content -->
    <div class="relative rounded-lg shadow bg-gray-800">
        <!-- Modal header -->
        <div class="flex justify-between items-start p-4 rounded-t border-b border-gray-600">
            <h3 class="text-xl font-semibold text-white">
                Guide
            </h3>
            <button type="button"
                    class="text-gray-400 bg-transparent rounded-lg text-sm p-1.5 ml-auto inline-flex items-center hover:bg-gray-600 hover:text-white"
                    id="close-guide-btn">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                          clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>
        <!-- Modal body -->
        <div class="p-6">
            <ul>
                <li class="step">
                    {% include 'files/view_file/components/guide/step1.html' %}
                </li>
                <li class="hidden step">
                    {% include 'files/view_file/components/guide/step2.html' %}
                </li>
                <li class="hidden step">
                    {% include 'files/view_file/components/guide/step3.html' %}
                </li>
                <li class="hidden step">
                    {% include 'files/view_file/components/guide/step4.html' %}
                </li>
                <li class="hidden step">
                    {% include 'files/view_file/components/guide/step5.html' %}
                </li>
                <li class="hidden step">
                    {% include 'files/view_file/components/guide/step6.html' %}
                </li>
                <li class="hidden step">
                    {% include 'files/view_file/components/guide/step7.html' %}
                </li>
                <li class="hidden step">
                    {% include 'files/view_file/components/guide/step8.html' %}
                </li>
                 <li class="hidden step">
                    {% include 'files/view_file/components/guide/step9.html' %}
                </li>
                 <li class="hidden step">
                    {% include 'files/view_file/components/guide/step10.html' %}
                </li>
                 <li class="hidden step">
                    {% include 'files/view_file/components/guide/step11.html' %}
                </li>
                 <li class="hidden step">
                    {% include 'files/view_file/components/guide/step12.html' %}
                </li>
                 <li class="hidden step">
                    {% include 'files/view_file/components/guide/step13.html' %}
                </li>
                 <li class="hidden step">
                    {% include 'files/view_file/components/guide/step14.html' %}
                </li>
                <li class="hidden step">
                    {% include 'files/view_file/components/guide/step15.html' %}
                </li>
                <li class="hidden step">
                    {% include 'files/view_file/components/guide/step16.html' %}
                </li>
                <li class="hidden step">
                    {% include 'files/view_file/components/guide/step17.html' %}
                </li>
                <li class="hidden step">
                    {% include 'files/view_file/components/guide/step18.html' %}
                </li>
                <li class="hidden step">
                    {% include 'files/view_file/components/guide/step19.html' %}
                </li>
            </ul>
        </div>
        <!-- Modal footer -->
        <div class="flex justify-between p-6 space-x-2 rounded-b border-t border-gray-600">
            <button id="prev-btn"
                    type="button"
                    class="text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">
                Previous
            </button>
            <span class="text-white py-2">
                <span id="step">1</span>/19
            </span>
            <button id="next-btn"
                    type="button"
                    class="text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">
                Next
            </button>
        </div>
    </div>
</div>

<style>
    .top-left {
        top: 15px;
        right: 15px;
        transform: translateX(0) translateY(0);
    }

    .fade {
        opacity: 0;
        animation: animateForm 500ms normal forwards;
        animation-iteration-count: 1;
        transition: all;
        transition-duration: 300ms;
    }

    @keyframes animateForm {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
</style>