<div class="space-y-6">
    <p class=" leading-relaxed text-gray-50 text-md">
        This little icon displays our Settingsmenu when clicked which contains :
    </p>

    <ul class="text-white list-disc">
        <li class="tracking-wider"><span class="font-medium text-red-400"> Public</span> allows you to choose your file privacy, in order to be able to share it.</li>
        <li class="tracking-wider"><span class="font-medium text-red-400"> Copy link</span> Click this in order to get a link of your file to share it with others.</li>
        <li class="tracking-wider"><span class="font-medium text-red-400"> Animations</span> enables and disables animations</li>
        <li class="tracking-wider"><span class="font-medium text-red-400"> Guide</span> This interactive one you passing by now :) <kbd class="rounded p-[2px] border-2 border-black bg-white text-black">Ctrl+y</kbd></li>
        <li class="tracking-wider"><span class="font-medium text-red-400"> Delete File</span> Allows you to delete your current file <kbd class="rounded p-[2px] border-2 border-black bg-white text-black">Ctrl+d</kbd></li>
    </ul>
</div>