<div class="space-y-6">
    <p class=" leading-relaxed text-gray-50 text-md">
        This component displays the current file name, you are able to rename it by :
        <ul class="pl-10 list-disc text-white">
            <li>Double clicking on it with teh right click of the mouse.
            </li>
            <li>
                Clicking <kbd class="rounded p-[2px] border-2 border-black bg-white text-black">ENTER</kbd>.
            </li>
        </ul>
        <br/>
    </p>
</div>