<div class="space-y-6">
    <p class=" leading-relaxed text-gray-50 text-md">
        File entete gives you the characteristics about your current file.
    </p>

    <ul class="text-white">
        <li class="tracking-wider"><span class="text-xl"> Number Of blocks: </span> how many blocks created so far</li>
        <li class="tracking-wider"><span class="text-xl"> Number Of elements:</span> how many elements created so far</li>
        <li class="tracking-wider"><span class="text-xl"> Max. number Of Blocks:</span> defined while creating the file</li>
        <li class="tracking-wider"><span class="text-xl"> Max. number Of elements:</span> defined while creating the file</li>
    </ul>
</div>