<div class="space-y-6">
    <p class=" leading-relaxed text-gray-50 text-md">
        This segment illustrates our central memory which contains 2 buffers used to load data from our secondary storage unit to the central memory,it's where the real manipulation & action happens 
    </p>
    <p class="text-white">It can be considered as divided into 3 parts</p>
    <ul class="text-white list-disc pl-10">
        <li>Complexity</li>
        <li>Buffers</li>
        <li>MC Controls</li>
    </ul>
</div>