<div class="space-y-6">
    <p class=" leading-relaxed text-gray-50 text-md">
        This little icon displays our Settingsmenu when clicked which contains :
    </p>

    <ul class="text-white list-disc">
        <li class="tracking-wider"><span class="font-medium text-red-400"> Public</span> allows you to choose your file privacy, in order to be able to share it.</li>
        <li class="tracking-wider"><span class="font-medium text-red-400"> Animations</span> enables and disables animations</li>
        <li class="tracking-wider"><span class="font-medium text-red-400"> Guide</span> This interactive one you passing by now :)</li>
        <li class="tracking-wider"><span class="font-medium text-red-400"> Delete File</span> Allows you to delete your current file</li>
    </ul>
</div>