<div class="space-y-6">
    <p class=" leading-relaxed text-gray-50 text-md">
        This little indicator when clicked on is used to display your current file characteristics as :
    </p>

    <ul class="text-white list-disc">
        <li class="tracking-wider"><span class="font-medium text-red-400"> Number Of Blocks</span> represents Nb the current number of blocks.</li>
        <li class="tracking-wider"><span class="font-medium text-red-400"> Number Of Elements</span> displays te total number of elements even the ones removed logically.</li>
        <li class="tracking-wider"><span class="font-medium text-red-400"> Index Table Size</span> prints the value of the maximum length of the index table.</li>
        <li class="tracking-wider"><span class="font-medium text-red-400"> Max. number Of Blocks</span> portrays the maximum number of blocks allowed in the file.</li>
        <li class="tracking-wider"><span class="font-medium text-red-400"> Max. number Of Elements</span> portrays the maximum number of elements allowed in the file.</li>
    </ul>
</div>