{% extends "main.html" %}

{% load static %}

{% block title %}
    Dashboard
{% endblock title %}

{% block scripts %}
    <script>

    </script>
    {#    <script type="module" src="{% static 'js/accounts/dashboard/index.js' %}"></script>#}
{% endblock %}


{% block stylesheets %}
    <!-- This style sheet in necessary because it contains body style -->
    <link rel="stylesheet" href="{% static 'css/dashboard/dashboard.css' %}">
{% endblock %}


{% block navbar %}
    {% include 'components/navbar/navbar_dashboard.html' %}
{% endblock %}


{% block content %}
    {% include 'components/aside/aside_dashboard.html' with active_page='' %}

    <div class="flex flex-row space-x-7 flex-wrap p-20">
        {% include 'accounts/profile/components/profile_card.html' %}
    </div>
{% endblock content %}
