{% load static %}

<a href="{% url 'clone_file' file.id %}"
   data-tooltip-target="tooltip-clone-file"
   data-tooltip-placement="right"
   id="clone-file-btn"
   class="save-file-btn shadow-2xl no-select bg-[#4D93E4] hover:bg-[#914aba] z-5 left-10 bottom-10 rounded-full transition-all fixed w-16 h-16 flex justify-center items-center">
    <img src="{% static 'imgs/view_file/copy.png' %}" alt="" class="w-10">
</a>
<div id="tooltip-clone-file" role="tooltip"
     class="inline-block absolute invisible z-10 py-2 px-3 text-md font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
    Clone file
    <div class="tooltip-arrow" data-popper-arrow></div>
</div>
