{% load static %}
<div>
    <div class="bg-slate-600 font-semibold text-center py-1 text-white text-xl rounded-t-md">
        Index Table
    </div>
    <div class="flex flex-row">
        <div class="flex flex-col">
            <div class="bg-slate-500 px-2 py-5 h-20 border-b-2 border-gray-700">
                <img src="{% static 'imgs/keyIcon.svg' %}" class="w-8" alt="">
            </div>
            <div class="bg-slate-500 h-20 font-bold text-white text-xl py-7 px-2 text-center w-12 rounded-bl-md">
                @
            </div>
        </div>
        <!-- here goes index table data -->
        <div class="flex flex-row" id="index-table">

        </div>
    </div>
    {#    <div class="flex flex-col ">#}
    {#        <div class="keys bg-gray-100 border-b-2 border-gray-700">#}
    {#            <ul class="flex flex-row items-center">#}
    {#                <li class="bg-slate-500 px-2 py-5">#}
    {#                    <img src="{% static 'imgs/keyIcon.svg' %}" class="w-8" alt="">#}
    {#                </li>#}
    {#                <li class="w-12 min-w-fit text-center  text-gray-800 border-r-2 px-1 py-6 border-gray-500">#}
    {#                    50#}
    {#                </li>#}
    {#                <li class="w-12 min-w-fit text-center  text-gray-800 border-r-2 px-1 py-6 border-gray-500">#}
    {#                    9#}
    {#                </li>#}
    {#                <li class="w-12 min-w-fit text-center  text-gray-800 border-r-2 px-1 py-6 border-gray-500">#}
    {#                    102#}
    {#                </li>#}
    {#                <li class="w-12 min-w-fit text-center  text-gray-800 border-r-2 px-1 py-6 border-gray-500">#}
    {#                    1024#}
    {#                </li>#}
    {#                <li class="w-12 min-w-fit text-center  text-gray-800 border-r-2 px-1 py-6 border-gray-500">#}
    {#                    1024#}
    {#                </li>#}
    {#                <li class="w-12 min-w-fit text-center  text-gray-800 border-r-2 px-1 py-6 border-gray-500">#}
    {#                    1024#}
    {#                </li>#}
    {#            </ul>#}
    {#        </div>#}
    {#        <div class="adrs bg-slate-200 rounded-b-md">#}
    {#            <div class="flex flex-row items-center">#}
    {#                <div class="bg-slate-500 text-white text-xl py-7 px-2 text-center w-12 rounded-bl-md">#}
    {#                    @#}
    {#                </div>#}
    {#                <div class="flex flex-col">#}
    {#                    <ul class="border-b-2 text-gray-800 text-center h-1/2 w-full flex flex-row border-gray-600 items-center">#}
    {#                        <li class="px-2 py-2  w-12 min-w-fit border-r-2 border-gray-600">#}
    {#                            15#}
    {#                        </li>#}
    {#                        <li class="px-2 py-2  w-12 min-w-fit border-r-2 border-gray-600">#}
    {#                            17#}
    {#                        </li>#}
    {#                        <li class="px-2 py-2  w-12 min-w-fit border-r-2 border-gray-600">#}
    {#                            18#}
    {#                        </li>#}
    {#                        <li class="px-2 py-2  w-12 min-w-fit border-r-2 border-gray-600">#}
    {#                            28#}
    {#                        </li>#}
    {#                        <li class="px-2 py-2  w-12 min-w-fit border-r-2 border-gray-600">#}
    {#                            28#}
    {#                        </li>#}
    {#                        <li class="px-2 py-2  w-12 min-w-fit border-r-2 border-gray-600">#}
    {#                            28#}
    {#                        </li>#}
    {#                    </ul>#}
    {#                    <ul class="h-1/2 w-full items-center text-center flex flex-row">#}
    {#                        <li class="px-2 py-2  w-12 min-w-fit border-r-2 border-gray-600">#}
    {#                            23#}
    {#                        </li>#}
    {#                        <li class="px-2 py-2  w-12 min-w-fit border-r-2 border-gray-600">#}
    {#                            03#}
    {#                        </li>#}
    {#                        <li class="px-2 py-2  w-12 min-w-fit border-r-2 border-gray-600">#}
    {#                            63#}
    {#                        </li>#}
    {#                        <li class="px-2 py-2  w-12 min-w-fit border-r-2 border-gray-600">#}
    {#                            03#}
    {#                        </li>#}
    {#                        <li class="px-2 py-2  w-12 min-w-fit border-r-2 border-gray-600">#}
    {#                            28#}
    {#                        </li>#}
    {#                        <li class="px-2 py-2  w-12 min-w-fit border-r-2 border-gray-600">#}
    {#                            28#}
    {#                        </li>#}
    {#                    </ul>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
</div>