{% load static %}
<div>
    <div class="bg-slate-600 font-semibold w-full text-center py-1 text-white text-xl rounded-t-md">
        Index Table
    </div>
    <div class="flex flex-row">
        <div class="flex flex-col">
            <div class="bg-slate-500 px-2 py-5 h-20 border-b-2 border-gray-700">
                <img src="{% static 'imgs/keyIcon.svg' %}" class="w-8" alt="">
            </div>
            <div class="bg-slate-500 h-20 font-bold text-white text-xl py-7 px-2 text-center w-12 rounded-bl-md">
                @
            </div>
        </div>
        <!-- here goes index table data -->
        <div class="flex flex-row" id="index-table">

            <div class="cell bg-slate-200 text-center border-gray-700">
                <div class="key bg-gray-100 w-12 h-20 min-w-fit text-gray-800 border-r-2 px-1 py-6 border-gray-500 border-b-2">
                    1
                </div>
                <div class="pos-i px-2 py-2 w-12 h-10 min-w-fit border-r-2 border-gray-600 border-gray-500 border-b-2">
                    1
                </div>
                <div class="pos-j px-2 py-2 w-12 h-10 min-w-fit border-r-2 border-gray-600 border-gray-500 border-b-2">
                    1
                </div>
            </div>

        </div>
    </div>
</div>