<div class="ms w-2/3">
    <div class="text-center">Yo</div>
    <div class="ms-container overflow-x-scroll flex flex-row space-x-8 flex-shrink-0">
        {#        <div class="bloc w-48 shadow-lg shadow-black/50 rounded-lg flex-shrink-0" style="height: 352px;">#}
        {#            <div class="bloc-header text-white px-3 items-center font-medium  h-8 rounded-t-lg w-full flex flex-row justify-between bg-slate-900">#}
        {#                <span>0</span>#}
        {#                <span>NB=0</span>#}
        {#            </div>#}
        {#            <div class="bloc-body w-full h-80 bg-gray-400 rounded-b-lg">#}
        {#                <ul class="text-lg font-medium text-center">#}
        {#                    <li class="border-b-2 h-10 flex justify-center flex-col">5464</li>#}
        {#                    <li class="border-b-2 h-10 flex justify-center flex-col">5464</li>#}
        {#                    <li class="border-b-2 h-10 flex justify-center flex-col">5464</li>#}
        {#                    <li class="border-b-2 h-10 flex justify-center flex-col">5464</li>#}
        {#                    <li class="border-b-2 h-10 flex justify-center flex-col">5464</li>#}
        {#                    <li class="border-b-2 h-10 flex justify-center flex-col">5464</li>#}
        {#                    <li class="border-b-2 h-10 flex justify-center flex-col">5464</li>#}
        {#                    <li class=" h-10 flex justify-center flex-col">5464</li>#}
        {#                </ul>#}
        {#            </div>#}
        {#        </div>#}
    </div>
    <div class="flex flex-row justify-between">
        <button id="scroll-left-btn" style="background: #eee; padding: 10px 15px"><-</button>
        <button id="scroll-right-btn" style="background: #eee; padding: 10px 15px">-></button>
    </div>
</div>