{% load static %}
<div class="ms w-2/3 flex flex-col">
{#    <div class="my-5 self-center">#}
{#        {% include "files/view_file/components/index-table.html" %}#}
{#    </div>#}
    <div>
        <div class="ms-container overflow-x-scroll flex flex-row space-x-8 flex-shrink-0">
        </div>
        <div class="flex flex-row justify-between mt-4">
            <button id="scroll-left-btn">
                <img src="{% static 'imgs/scroll-bar/left-arrow.png' %}" alt="" style="width: 35px; height: 35px">
            </button>
            <button id="scroll-right-btn">
                <img src="{% static 'imgs/scroll-bar/right-arrow.png' %}" alt="" style="width: 35px; height: 35px">
            </button>
        </div>
    </div>
    
</div>
