{% load static %}

<div class="items-center tools rounded-r-lg mt-8 bg-gray-600 shadow-2xl w-auto">
    <ul class="toolbar-options flex flex-col space-y-5 items-center w-14 py-3">
        <li class="toolbar-tool no-select">
            <div class="w-9 h-9 rounded-md bg-gray-300 hover:h-11 hover:w-11 transition-all">
                <img class="toolbar-icon"
                     src="{% static 'imgs/view_file/toolbar/fillDummyData.png' %}" alt="" title="Fill with dummy data">
            </div>
            {% include "files/view_file/components/tooltip-form-generate-data.html" %}
        </li>
        <li class="toolbar-tool  no-select">
            <div class="w-9 h-9 rounded-md bg-gray-300 hover:h-11 hover:w-11 transition-all">
                <img class="toolbar-icon"
                     src="{% static 'imgs/view_file/toolbar/searchElement.svg' %}" alt="" title="Search element">
            </div>
            {% include "files/view_file/components/tooltip-form-search.html" %}
        </li>
        <li class="toolbar-tool  no-select">
            <div class="w-9 h-9 rounded-md bg-gray-300 hover:h-11 hover:w-11 transition-all">
                <img class="toolbar-icon"
                     src="{% static 'imgs/view_file/toolbar/removeLogically.png' %}" alt="" title="Remove logically">
            </div>
            {% include "files/view_file/components/tooltip-form-remove-logically.html" %}
        </li>

        <li class="toolbar-tool {% if file.file_type == 'LOF' or file.file_type == 'LnOF' %} hidden {% endif %}  no-select">
            <div class="w-9 h-9 rounded-md bg-gray-300 hover:h-11 hover:w-11 transition-all">
                <img class="toolbar-icon"
                     src="{% static 'imgs/view_file/toolbar/removePhysically.png' %}" alt="" title="Remove physically">
            </div>
            {% include "files/view_file/components/tooltip-form-remove-physically.html" %}
        </li>
        <li class="toolbar-tool  no-select">
            <div class="w-9 h-9 rounded-md bg-gray-300 hover:h-11 hover:w-11 transition-all">
                <img class="toolbar-icon"
                     src="{% static 'imgs/view_file/toolbar/addElement.svg' %}" alt="" title="Add element">
            </div>
            {% include "files/view_file/components/tooltip-form-insert.html" %}
        </li>
        <li class="toolbar-tool  no-select">
            <div class="w-9 h-9 rounded-md bg-gray-300 hover:h-11 hover:w-11 transition-all">
                <img class="toolbar-icon"
                     src="{% static 'imgs/view_file/toolbar/editElement.svg' %}" alt="" title="Edit element">
            </div>
            {% include "files/view_file/components/tooltip-form-edit.html" %}
        </li>
    </ul>
</div>

<style>
    .toolbar-tool {
        position: relative;
    }

    .toolbar-tool div {
        padding: 4px;
    }

    .toolbar-tool .toolbar-icon {
        cursor: pointer;
    }

    .toolbar-tooltip {
        position: absolute;
    }

    .toolbar-tooltip div:nth-child(1) {
        padding: 0;
    }

    .toolbar-tooltip div:nth-child(2) {
        padding: 10px 7px;
    }

    .rect {
        width: 0;
        height: 0;
        border-top:12px solid transparent ;
        border-right: 25px solid #c084fc;
        border-bottom: 12px solid transparent;
        z-index: 1;
    }
</style>