<div id="remove-logically-form"
     class="z-10 hidden bg-white relative shadow w-60 dark:bg-gray-700 toolbar-tooltip-container">
    <div class="fade toolbar-tooltip -mt-10 form flex justify-center items-center flex-row">
        <div class="rect"></div>
        <div class="space-y-1 inline-block bg-purple-400 shadow-md shadow-black/30 rounded-b-xl rounded-tl-xl rounded-tr-xl py-2">
            <div class="flex justify-center">
                <input
                        autocomplete="off"
                        class="bg-gray-200 appearance-none border-2 text-center border-gray-200 rounded w-32 py-1 px-3 text-gray-700 leading-tight text-xs focus:outline-none focus:bg-white"
                        type="number" placeholder="Elements Number" id="key-to-remove">
            </div>
            <div class="flex justify-center ">
                <button id="remove-btn"
                        class="mt-2 py-2 px-4 bg-emerald-400 rounded-3xl text-gray-800 hover:bg-blue-500 hover:text-white transition-all text-xs font-medium text-center">
                    Remove logically
                </button>
            </div>
        </div>
    </div>
</div>