{% load static %}

<div class="items-center tools rounded-r-lg mt-8 bg-slate-600 shadow-2xl mr-5 w-auto">
    <ul class="toolbar-options flex flex-col space-y-5 items-center w-12 py-3">
        <li class="toolbar-tool no-select">
            <div data-tooltip-target="tooltip-generate-data"
                 data-tooltip-placement="right"
                 class="w-8 h-8 rounded-md bg-gray-300 hover:h-9 hover:w-9 transition-all">

                <button id="fill-with-dummy-data-trigger"
                        data-dropdown-toggle="fill-with-dummy-data-form"
                        data-dropdown-placement="right"
                        class="w-full p-1 outline-none"
                        type="button">
                    <img class="toolbar-icon"
                         src="{% static 'imgs/view_file/toolbar/fillDummyData.png' %}" alt="">
                </button>
            </div>
            {% include "files/view_file/components/tooltip-form-generate-data.html" %}
        </li>
        <div id="tooltip-generate-data" role="tooltip"
             class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            Fill with dummy data
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>

        <li class="toolbar-tool  no-select">
            <div data-tooltip-target="tooltip-search"
                 data-tooltip-placement="right"
                 class="w-8 h-8 rounded-md bg-gray-300 hover:h-9 hover:w-9 transition-all">
                <button id="search-element-trigger"
                        data-dropdown-toggle="search-element-form"
                        data-dropdown-placement="right-start"
                        class="w-full p-1 outline-none"
                        type="button">
                    <img class="toolbar-icon"
                         src="{% static 'imgs/view_file/toolbar/searchElement.svg' %}" alt="">
                </button>
            </div>
            {% include "files/view_file/components/tooltip-form-search.html" %}
        </li>
        <div id="tooltip-search" role="tooltip"
             class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            Search element
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>

        <li class="toolbar-tool  no-select">
            <div data-tooltip-target="tooltip-remove-logically"
                 data-tooltip-placement="right"
                 class="w-8 h-8 rounded-md bg-gray-300 hover:h-9 hover:w-9 transition-all">
                <button id="remove-logically-trigger"
                        data-dropdown-toggle="remove-logically-form"
                        data-dropdown-placement="right-start"
                        class="w-full p-1 outline-none"
                        type="button">
                    <img class="toolbar-icon"
                         src="{% static 'imgs/view_file/toolbar/removeLogically.png' %}" alt="">
                </button>
            </div>
            {% include "files/view_file/components/tooltip-form-remove-logically.html" %}
        </li>
        <div id="tooltip-remove-logically" role="tooltip"
             class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            Remove logically
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>



            <li class="toolbar-tool no-select {% if not file.file_type == 'LOF' and not file.file_type == 'LnOF' and not file.file_access == 'indexed' %}  {% else %}hidden{% endif %}">
                <div data-tooltip-target="tooltip-remove-physically"
                     data-tooltip-placement="right"
                     class="w-8 h-8 rounded-md bg-gray-300 hover:h-9 hover:w-9 transition-all">
                    <button id="remove-physically-trigger"
                            data-dropdown-toggle="remove-physically-form"
                            data-dropdown-placement="right-start"
                            class="w-full p-1 outline-none"
                            type="button">
                        <img class="toolbar-icon"
                             src="{% static 'imgs/view_file/toolbar/removePhysically.png' %}" alt="">
                    </button>
                </div>
                {% include "files/view_file/components/tooltip-form-remove-physically.html" %}
            </li>
            <div id="tooltip-remove-physically" role="tooltip"
                 class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                Remove physically
                <div class="tooltip-arrow" data-popper-arrow></div>
            </div>
{#        {% endif %}#}

        <li class="toolbar-tool  no-select">
            <div data-tooltip-target="tooltip-add-element"
                 data-tooltip-placement="right"
                 class="w-8 h-8 rounded-md bg-gray-300 hover:h-9 hover:w-9 transition-all">
                <button id="add-element-trigger"
                        data-dropdown-toggle="add-element-form"
                        data-dropdown-placement="right-start"
                        class="w-full p-1 outline-none"
                        type="button">
                    <img class="toolbar-icon"
                         src="{% static 'imgs/view_file/toolbar/addElement.svg' %}" alt="">
                </button>
            </div>
            {% include "files/view_file/components/tooltip-form-insert.html" %}
        </li>
        <div id="tooltip-add-element" role="tooltip"
             class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            Add element
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>

        <li class="toolbar-tool  no-select">
            <div data-tooltip-target="tooltip-edit"
                 data-tooltip-placement="right"
                 class="w-8 h-8 rounded-md bg-gray-300 hover:h-9 hover:w-9 transition-all">
                <button id="edit-element-trigger"
                        data-dropdown-toggle="edit-element-form"
                        data-dropdown-placement="right-start"
                        class="w-full p-1 outline-none"
                        type="button">
                    <img class="toolbar-icon"
                         src="{% static 'imgs/view_file/toolbar/editElement.svg' %}" alt="">
                </button>
            </div>
            {% include "files/view_file/components/tooltip-form-edit.html" %}
        </li>
        <div id="tooltip-edit" role="tooltip"
             class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            Edit element
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>

    </ul>
</div>

<style>
    .toolbar-tool {
        position: relative;
    }

    

    .toolbar-tool .toolbar-icon {
        cursor: pointer;
    }

    .toolbar-tooltip {
        position: absolute;
    }

    .toolbar-tooltip div:nth-child(1) {
        padding: 0;
    }

    .toolbar-tooltip div:nth-child(2) {
        padding: 10px 7px;
    }

    .rect {
        width: 0;
        height: 0;
        border-top: 12px solid transparent;
        border-right: 25px solid #c084fc;
        border-bottom: 12px solid transparent;
        z-index: 1;
    }

    .fade {
        transition: all;
        animation: fadeAn 200ms forwards;
    }

    @keyframes fadeAn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

</style>