<label for="key-to-search">Key to search</label>
<input type="text" id="key-to-search">
<button id="search-enreg-btn" style="display: block;">Search enreg.</button>

<button style="display: block;" id="add-enreg-btn">Add Enreg</button>


<label for="enreg-to-edit">Enreg Feild  to edit</label>
<input type="text" id="enreg-to-edit">
<button id="edit-ereng-btn" style="display: block;" >Edit enreg.</button>


<label for="enreg-to-edit">Enreg key  to delete</label>
<input type="text" id="enreg-to-delete">
<button id="edit-ereng-button" style="display: block;" >Delete Enreg</button>

<button id="remove-file-btn" style="display: block;">Remove current file</button>


<label for="edit-file-informations">edit file info:</label>
<input type="text" id="new-file-name" placeholder="type the new file name">
<input type="number" id="new-nbmax-enreg"  min="0" max="30" placeholder="type the new nb max enreg">

<button id="share-file-btn" style="display: block;">Share file</button>