{#<label for="key-to-search">Key to search</label>#}
{#<input type="text" id="key-to-search">#}
{#<button id="search-btn">Search enreg.</button>#}



<div class="items-center tools rounded-r-lg mt-8 bg-gray-600 shadow-2xl w-auto">
    <ul class="flex flex-col space-y-5 items-center w-14 py-3">
        <li class="w-9 h-9 rounded-md bg-gray-300 hover:h-11 hover:w-11 click transition-all"></li>
        <li class="w-9 h-9 rounded-md bg-gray-300 hover:h-11 hover:w-11 transition-all"></li>
        <li class="w-9 h-9 rounded-md bg-gray-300 hover:h-11 hover:w-11 transition-all"></li>
        <li class="w-9 h-9 rounded-md bg-gray-300 hover:h-11 hover:w-11 transition-all"></li>
        <li class="w-9 h-9 rounded-md bg-gray-300 hover:h-11 hover:w-11 transition-all"></li>
        <li class="w-9 h-9 rounded-md bg-gray-300 hover:h-11 hover:w-11 transition-all"></li>
    </ul>
</div>