{% extends "main.html" %}

{% load static %}

{% block title %}
    Dashboard
{% endblock title %}

{% block scripts %}
    <script>
        const DELETE_FILE_DASHBOARD_URL = "{% url 'delete_file_dashboard' %}";
    </script>
    <script type="module" src="{% static 'js/files/dashboard/index.js' %}"></script>
    <script type="module" src="{% static 'js/files/dashboard/deleteFile.js' %}"></script>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/dashboard/dashboard.css' %}">
{% endblock %}


{% block navbar %}
    {% include 'components/navbar/navbar_dashboard.html' %}
{% endblock %}


{% block content %}
    {% include 'components/aside/aside_dashboard.html' with active_page='dashboard' %}
    {# {% include 'files/dashboard/components/files.html' %} #}
{#    {% include 'files/dashboard/components/create_file.html' %} #}
    {% include 'files/dashboard/components/view_other_profile.html' %}
{% endblock content %}
