{% extends "main.html" %}

{% load static %}

{% block title %}
    My Dashboard -
{% endblock title %}

{% block scripts %}
    <script>
        const DELETE_FILE_DASHBOARD_URL = "{% url 'delete_file_dashboard' %}";
    </script>
    <script type="module" src="{% static 'js/files/dashboard/index.js' %}"></script>
    <script type="module" src="{% static 'js/files/dashboard/deleteFile.js' %}"></script>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/dashboard/dashboard.css' %}">
{% endblock %}


{% block navbar %}
    {% include 'components/navbar/navbar_dashboard.html' %}
{% endblock %}


{% block content %}
    {% include 'components/aside/aside_dashboard.html' with active_page='dashboard' %}

    <div class="p-20">
        {% include 'accounts/profile/components/files.html' with files=files %}
        {% include 'files/dashboard/components/delete_file_area.html' with files=files %}
        {% include 'files/dashboard/components/pagination.html' with page=files %}
    </div>
    {% include 'files/dashboard/components/create_file.html' %}

{% endblock content %}
