{% extends "main.html" %}

{% load static %}

{% block title %}
    Dashboard
{% endblock title %}

{% block scripts %}
    <script>

    </script>
    <script type="module" src="{% static 'js/accounts/dashboard/index.js' %}"></script>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/accounts/dashboard/dashboard.css' %}">
    <style>
        body {
            padding-top: 100px;
            padding-left: 300px;
            background-color: #DFDDDD !important;
            background-image: none !important;
        }
    </style>
{% endblock %}


{% block navbar %}
    {#    {% include 'components/navbar/navbar_view_file.html' %}#}
{% endblock %}


{% block content %}
    {% include 'components/navbar/navbar_dashboard.html' %}
    {% include 'accounts/dashboard/components/files.html' %}
    {% include 'accounts/dashboard/components/create_file.html' %}
{% endblock content %}
