{% extends "main.html" %}

{% load static %}

{% block title %}
    Dashboard
{% endblock title %}

{% block scripts %}
    <script>

    </script>
    <script type="module" src="{% static 'js/accounts/dashboard/index.js' %}"></script>
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/accounts/dashboard/dashboard.css' %}">
{% endblock %}


{% block navbar %}
    {% include 'components/navbar/navbar_dashboard.html' %}
{% endblock %}


{% block content %}
    {% include 'components/aside/aside_dashboard.html' %}
    {% include 'accounts/dashboard/components/files.html' %}
    {% include 'accounts/dashboard/components/create_file.html'     %}
{#    {% include 'accounts/dashboard/components/settings.html' %}#}
{% endblock content %}
