<div class="items-center tools rounded-r-lg mt-8 bg-gray-600 shadow-2xl w-auto">
    <ul class="options flex flex-col space-y-5 items-center w-14 py-3">
        <li id="generate-data-btn" class="w-9 h-9 rounded-md bg-gray-300 hover:h-11 hover:w-11 transition-all"></li>
        <li class="w-9 h-9 rounded-md bg-gray-300 hover:h-11 hover:w-11 transition-all"></li>
        <li class="w-9 h-9 rounded-md bg-gray-300 hover:h-11 hover:w-11 transition-all"></li>
        <li class="w-9 h-9 rounded-md bg-gray-300 hover:h-11 hover:w-11 transition-all"></li>
        <li class="w-9 h-9 rounded-md bg-gray-300 hover:h-11 hover:w-11 transition-all"></li>
        <li class="w-9 h-9 rounded-md bg-gray-300 hover:h-11 hover:w-11 transition-all"></li>
    </ul>
</div>

<style>
    .options li {
        cursor: pointer;
    }
</style>