{% extends "main.html" %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/create_file.css' %}">
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'js/files/create_file/index.js' %}"></script>
{% endblock scripts %}



{% block content %}
    <div id="file-types">
        <button id="option-simple-file">Simple</button>

        <button id="option-indexed-file">Index</button>

        <button id="option-hashing-file">Hashing</button>
    </div>

    <div  id="simple-file-types">
        <button id="tof">TOF</button>
        <button id="tnof">TnOF</button>
        <button id="lof">LOF</button>
        <button id="lnof">LnOF</button>
    </div>

    <div  id="index-file-types">
        <button id="clustered">clustered</button>
        <button id="not-clustered">Not clustered </button>
    </div>

    <div  id="hashing-file-types">
        <button id="static">Static</button>
        <button id="dynamic">Dynamic</button>
    </div>

    <div id="form">
        <form method="POST" action="">
            {% csrf_token %}
            <input id="name-file" name="file_name" type="text" placeholder="Name">
            <input
                id="max-enreg"
                name="nb_max_enregs"
                type="number"
                placeholder="Maximum number of enregs."
                value="10"
            >
            <label for="fill-with-dummy-data">Fill with dummy data</label>
            <input type="checkbox" id="fill-with-dummy-data" checked>
            <button id="create-file">Create File</button>
        </form>
    </div>
{% endblock content %}