{% load static %}

<nav class="fixed top-0 left-0 w-full flex bg-white p-4">
    <div class="w-[400px]"></div>
    <div class="search-section flex grow">
        <div class="flex p-5 space-x-2 rounded-md" style="background-color: #DCD9D9">
            <img src="{% static 'imgs/navbar-dashboard/search.svg' %}">
            <input class="boutline-0 bg-transparent pl-2" type="search" placeholder="Search"
                   style="outline-width: 0px;">
        </div>
    </div>
    <div class="profile flex mr-4 items-center">
        <div class="img-profile mr-5">
            <img src="{% static 'imgs/download.jpg' %}" class="rounded-full w-14" alt="">
        </div>
        <div class="user-info">
            <div class="text-[#222] font-bold">Zineddine</div>
            <div class="user-type">Student</div>
        </div>
    </div>
</nav>