{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load account %}

{% block head_title %}Change Password{% endblock %}

{% block content %}

    <div class="h-screen relative w-full flex flex-col space-y-8 justify-center items-center">
        <a href="{% url 'account_login' %}"
           class="rounded-lg absolute top-20 left-20 bg-gray-700 space-x-6 px-3 shadow-lg py-1 flex flex-row justify-center items-center">
            <span class="font-medium text-white text-lg">Back to Login</span>
            <img class="w-5" src="{% static 'imgs/404/arrow-return-left.svg' %}" alt="">
        </a>
        <h1 class="text-4xl">
            {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please
                request a new password reset.{% endblocktrans %}</p>
            <a href="{{ passwd_reset_url }}"
               class="rounded-full bg-[#879EF1] hover:bg-[#BA68C8] transition-all text-white text-2xl py-4 px-[50px] cursor-pointer">
                New Request
            </a>
        {% else %}
            <form method="POST" class="text-center" action={{ action_url }}>
                {% csrf_token %}

                {# non field errors #}
                {% if form.non_field_errors %}
                    <div class="text-red-500 mb-4">
                        {% for err in form.non_field_errors %}
                            <p class="form-error">{{ err }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                {% for field in form %}
                    <div class=" mb-8">
                        <div class="mb-3">
                            {{ field }}
                        </div>
                        <div class="text-red-500">
                            {{ field.errors|escape }}
                        </div>
                    </div>
                {% endfor %}

                <button type="submit"
                        class="rounded-full bg-[#879EF1] hover:bg-[#BA68C8] transition-all text-white text-2xl py-4 px-[50px] cursor-pointer">
                    Change Password
                </button>
            </form>
        {% endif %}


    </div>

    <p class="text-lg">Please contact us if you have any trouble resetting your password.</p>
{% endblock %}
