{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load account %}

{% block head_title %}Password Reset{% endblock %}

{% block content %}

    <div class="h-screen relative w-full flex flex-col space-y-8 justify-center items-center">
        <a href="{% url 'account_login' %}"
           class="rounded-lg absolute top-20 left-20 bg-gray-700 space-x-6 px-3 shadow-lg py-1 flex flex-row justify-center items-center">
            <span class="font-medium text-white text-lg">Back to Login</span>
            <img class="w-5" src="{% static 'imgs/404/arrow-return-left.svg' %}" alt="">
        </a>
        <h1 class="text-4xl">Password Reset</h1>

        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}


        <p class="text-lg">
            Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset
            it.
        </p>

        <form method="POST" class="text-center" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}

            {# non field errors #}
            {% if form.non_field_errors %}
                <div class="text-red-500 mb-4">
                    {% for err in form.non_field_errors %}
                        <p class="form-error">{{ err }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            {# email #}
            <div class=" mb-8">
                <div class="mb-3">
                    {{ form.email }}
                </div>
                <div class="text-red-500">
                    {{ form.email.errors|escape }}
                </div>
            </div>

            <button type="submit"
                    class="rounded-full bg-[#879EF1] hover:bg-[#BA68C8] transition-all text-white text-2xl py-4 px-[50px] cursor-pointer">
                Reset
            </button>
        </form>
    </div>

    <p class="text-lg">Please contact us if you have any trouble resetting your password.</p>
{% endblock %}
