{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load account %}

{% block head_title %}Password Has Been Changed{% endblock %}

{% block content %}

    <div class="h-screen relative w-full flex flex-col space-y-8 justify-center items-center">
        <a href="{% url 'account_login' %}"
           class="rounded-lg absolute top-20 left-20 bg-gray-700 space-x-6 px-3 shadow-lg py-1 flex flex-row justify-center items-center">
            <span class="font-medium text-white text-lg">Back to Login</span>
            <img class="w-5" src="{% static 'imgs/404/arrow-return-left.svg' %}" alt="">
        </a>
        <h1 class="text-4xl">Password Has Been Changed</h1>

        <p class="text-lg">Your password is now changed. You can login to your account.</p>
        <a href="{% url 'account_login' %}"
           class="rounded-full bg-[#879EF1] hover:bg-[#BA68C8] transition-all text-white text-2xl py-4 px-[50px] cursor-pointer">
            Login
        </a>
    </div>

{% endblock %}
