{% load static %}
{% load socialaccount %}
{% get_providers as socialaccount_providers %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register - VisualSFSD</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">

    <!-- Style sheets -->
    <link rel="stylesheet" href="{% static 'css/accounts/login.css' %}">
    <link rel="icon" href="{% static 'imgs/logo/logo.svg' %}"/>
</head>

<body class="bg-[#D2DCFF]">
<div class="h-screen flex bg-[#D2DCFF]">
    <div class="w-full flex flex-col  justify-between text-center py-20 px-10 2xl:rounded-r-[75px] bg-[white] 2xl:w-1/2">
        <h1 class="text-center font-bold text-6xl mb-12">Register</h1>
        <div class="pb-20 2xl:py-0">
            <div class="flex justify-center items-center">
                <form method="POST"
                      action="{% url 'account_signup' %}"
                      class="w-full 2xl:w-2/3 2xl:px-[50px]">
                    {% csrf_token %}

                    {# non field errors #}
                    {% if form.non_field_errors %}
                        <div class="text-red-500 mb-4">
                            {% for err in form.non_field_errors %}
                                <p class="form-error">{{ err }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

{#                    {% for field in form %}#}
{#                        <div class=" mb-8">#}
{#                            <div class="mb-3">#}
{#                                {{ field }}#}
{#                            </div>#}
{#                            <div class="text-red-500">#}
{#                                {{ field.errors|escape }}#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}

                <div class=" mb-8">
                        <div class="mb-3">
                            {{ form.username }}
                        </div>
                        <div class="text-red-500">
                            {{ form.username.errors|escape }}
                        </div>
                    </div>
                    <div class="flex flex-row space-x-5  mb-8">
                        <div>
                            <div>
                                {{ form.first_name }}
                            </div>
                            <div class="text-red-500">
                                {{ form.first_name.errors|escape }}
                            </div>
                        </div>
                        <div>
                            <div>
                                {{ form.last_name }}
                            </div>
                            <div class="text-red-500">
                                {{ form.last_name.errors|escape }}
                            </div>
                        </div>
                    </div>
                    <div class=" mb-8">
                        <div class="mb-3">
                            {{ form.email }}
                        </div>
                        <div class="text-red-500">
                            {{ form.email.errors|escape }}
                        </div>
                    </div>
                    <div class="mb-8">
                        <div class="flex flex-row space-x-5 mb-3">
                            {{ form.password1 }}
                            {{ form.password2 }}
                        </div>
                        <div class="text-red-500">
                            {{ form.password1.errors|escape }}
                            {{ form.password2.errors|escape }}
                        </div>
                    </div>

                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}

                    <button type="submit"
                            class="rounded-full bg-[#879EF1] hover:bg-[#BA68C8] transition-all text-white text-2xl py-4 px-[50px] cursor-pointer">
                        Sign Up
                    </button>
                </form>
            </div>

            <div class="alternative-signup relative mt-8">
                <div class="google text-[474747]">
                    <p class="">Or sign up with google</p>
                </div>
            </div>
            <a href="{% provider_login_url 'google' %}"
               class="flex hover:bg-gray-100 transition-all justify-center items-center border-2 h-20 w-20 m-auto rounded-2xl mt-8">
                <img src="{% static 'imgs/accounts/google.svg' %}" alt="Google">
            </a>

            <div class="flex flex-row justify-center mt-8 px-20">
                <div>
                    <span class="text-gray-700">Already have an account ?</span><a class="ml-2"
                                                                                   href="{% url 'account_login' %}">Login</a>
                </div>
            </div>
        </div>
    </div>

    <div class=" side-image  w-0 2xl:w-1/2 flex justify-center items-center">
        <img src="{% static 'imgs/accounts/register.svg' %}" alt="Register">
    </div>
</div>


<div class="fixed z-10 bottom-0 right-0 display-delay">
    {% include 'components/messages.html' %}
</div>
</body>
</html>
