{% load static %}


<nav class="bg-purple-600 px-2 sm:px-4 py-2.5 no-select">
    <div class="container flex flex-wrap items-center mx-auto justify-between">
        {% include 'components/navbar/view_file/components/file_info.html' %}

        <div class="w-full md:block md:w-auto">
            <ul class="flex flex-col mt-4 md:flex-row md:space-x-5 md:mt-0 md:text-sm md:font-medium">
                {% include 'components/navbar/view_file/components/file_settings.html' %}
                {% include 'components/navbar/view_file/components/profile_menu.html' %}


            </ul>
        </div>
    </div>
</nav>


<style>
    #file-head-dropdown {
        position: absolute;
        width: 220px;
        top: 44px;
    }

    .rect-top {
        position: absolute;
        top: 0;
        right: -12px;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-bottom: 24px solid #1E293B;
        border-right: 12px solid transparent;
        z-index: 9999;
    }
</style>
