{% load static %}


<nav id="view-file-navbar" class="bg-[#7F409D] px-2 sm:px-4 py-2.5 no-select " style="z-index: 999999999;">
    <div class="container flex flex-wrap items-center mx-auto justify-between">
        {% include 'components/navbar/view_file/components/file_info.html' %}

        <div class="w-full md:block md:w-auto">
            <ul class="flex flex-col mt-4 md:flex-row md:space-x-5 md:mt-0 md:text-sm md:font-medium">
                {% include 'components/navbar/view_file/components/file_settings.html' %}
                {% include 'components/navbar/view_file/components/profile_menu.html' %}


            </ul>
        </div>
    </div>
</nav>


<style>
    #file-head-dropdown {
        position: absolute;
        width: 220px;
        top: 44px;
    }

    .rect-top {
        position: absolute;
        top: 0;
        right: -12px;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-bottom: 24px solid #1E293B;
        border-right: 12px solid transparent;
        z-index: 9999;
    }
 
  
    .show {
        animation: showMenu 300ms forwards;
        transition: all;
        
    }
    .showFile {
        animation: showFileMenu 300ms forwards;
        transition: all;
    }
    
    @keyframes showMenu {
            from {
                opacity: 0;
                top:-200px;
            }
            50% {
                opacity: 0;
            }
            to {
                opacity: 1;
                top:4.5px
            }
        }
        @keyframes showFileMenu {
            from {
                opacity: 0;
                top:-200px;
            }
            50% {
                opacity: 0;
            }
            to {
                opacity: 1;
                top:44px
            }
        }

</style>
<script>
    // set the dropdown menu element

    // set the dropdown menu element
    const targetEl = document.getElementById('dropdownMenu');

// set the element that trigger the dropdown menu on click
const triggerEl = document.getElementById('dropdownButton');

// options with default values
const options = {
  placement: 'bottom',
  onHide: () => {
      console.log('dropdown has been hidden');
  },
  onShow: () => {
      console.log('dropdown has been shown');
  }
};

</script>