{% load static %}

<li>
    <button data-dropdown-toggle="file-menu" type="button">
        <img src="{% static 'imgs/ci_settings-filledsettings.svg' %}"
             class="w-10 hover:rotate-45 transition-all"
             alt="">
    </button>
    <div id="file-menu" class="hidden relative" style="z-index: 9999;">
        <div class="rect-top"></div>
        <div id="file-menu"
             class="bg-slate-800 font-sans rounded-b-xl absolute w-max"
             style="top: 24px; right: -40px">
            <ul>
                <li class="flex flex-row px-4 py-2 space-x-4 items-center  border-b-2 justify-between">
                    <span class="text-white text-xl font-semibold">Animations</span>
                    <label for="toggle-animation"
                           class="flex relative items-center cursor-pointer">
                        <input type="checkbox" id="toggle-animation" class="sr-only" checked>
                        <div class="w-11 h-6 bg-gray-200 rounded-full border border-gray-200 toggle-bg dark:bg-gray-700 dark:border-gray-600"></div>
                    </label>
                </li>
                <li class="flex flex-row justify-between space-x-4 px-4 py-2 border-b-2 items-center">
                    <span class="text-white font-semibold text-xl">Dark Mode</span>
                    <label for="toggle-example" class="flex relative items-center  cursor-pointer">
                        <input type="checkbox" id="toggle-example" class="sr-only">
                        <div class="w-11 h-6 bg-gray-200 rounded-full border border-gray-200 toggle-bg dark:bg-gray-700 dark:border-gray-600"></div>
                    </label>
                </li>
                <li id="open-delete-file-modal"
                        class="flex cursor-pointer flex-row px-4 py-2 items-center space-x-4 justify-between ">
                    <span class="text-red-400 font-semibold text-xl">Delete File</span>
                    <img src="{% static 'imgs/deleteFileIcon.svg' %}" class="w-7" alt="">
                </li>
            </ul>
        </div>
    </div>
</li>
{% include 'components/navbar/view_file/components/delete_file.html' %}
