{% load static %}

<div class="logo-info flex flex-row space-x-10 items-center">
    <a href="" class="items-center">
        <div class="bg-sky-400 h-6 sm:h-10 sm:w-10 w-6 rounded-lg"></div>
    </a>
    <div class="flex m-0 p-0" style="position: relative;">
        <span class="file-name-all text-2xl text-white" style="cursor: pointer;">
            <span class="font-bold text-gray-800">File :</span> <span class="file-name ">{{ file.name }}</span>
            <span class="file-type "> - {{ file.get_file_type_display }}</span>
        </span>
        <div class="change-file-name-section flex items-center justify-start">
            <div class="edit-file-name flex">
                <form class="form-for-file-name hidden ml-3">
                    <input class="edit-file-name-input p-0 text-2xl font-semibold text-white"
                           style="background: inherit; border: none; outline: none; margin-top: 0; margin-left: -6px"
                           placeholder="new file Name" type="text" maxlength="100">
                </form>

                <div id="entete" class="characteristics-section ml-3" style="position: relative">
                            <span class="characteristics-btn">
                                <img src="{% static 'imgs/upMS.svg' %}" class="characteristics-image w-6"
                                     title="show characteristics" style="transform: rotate(180deg); cursor: pointer;">
                            </span>

                    <div id="file-head-dropdown"
                         class="hidden file-head-dropdown shadow-lg w-full rounded-b-md bg-gray-800">
                        <!--Hna yabda ta3 file caractest-->
                        <ul>
                            <li class="flex flex-row justify-between px-2 py-1 border-b-2 items-center space-x-2">
                                <span class="text-sm text-blue-300">Number of blocks </span>
                                <span id="nb-blocks"
                                      class="text-white">{{ dataPy.characteristics.nbBlocks }}</span>
                            </li>
                            <li class="flex text-center flex-row justify-between px-2 py-1 border-b-2 items-center space-x-2">
                                <span class="text-sm text-blue-300">Number of elements </span>
                                <span id="nb-elements"
                                      class="text-white">{{ dataPy.characteristics.nbInsertions }}</span>
                            </li>
                            <li class="flex text-center flex-row justify-between px-2 py-1 border-b-2 items-center space-x-2">
                                <span class="text-sm text-blue-300">Max. number of blocks </span>
                                <span id="nb-elements"
                                      class="text-white">{{ dataPy.characteristics.maxNbBlocks }}</span>
                            </li>
                            <li class="flex rounded-b-md text-center flex-row justify-between px-2 py-1 border-b-2 items-center space-x-2">
                                <span class="text-sm text-blue-300">Max. number of elements  </span>
                                <span id="nb-elements"
                                      class="text-white">{{ dataPy.characteristics.maxNbEnregs }}</span>
                            </li>
                            {% if file.file_access == 'indexed' %}
                                <li class="flex rounded-b-md text-center flex-row justify-between px-2 py-1 border-b-2 items-center space-x-2">
                                    <span class="text-sm text-blue-300">Index table size</span>
                                    <span id="index-table-size"
                                          class="text-white">{{ dataPy.characteristics.maxIndex }}</span>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>