{% load static %}

<div class="flex justify-start flex-wrap space-x-7 mb-10">

    {% for student in students %}
        <a class="h-max py-7 px-10 rounded-3xl bg-white text-center shadow-[0px_4px_4px_rgba(0,0,0,0.25)] bg-white transition-all hover:-translate-y-1 focus:-translate-y-1 "
           href="{% url 'profile' student.username %}">
            <div class="profile-img w-[120px] h-[120px] m-auto">
                <img src="{% include 'accounts/profile/components/profile_img.html' with user=student %}" class="rounded-full w-full h-full" alt="">
            </div>
            <div class="mt-5">
                <h3 class="text-2xl text-center font-bold">{{ student.first_name }} {{ student.last_name }}</h3>
                <h3 class="text-lg text-blue-700">{{ student.email }}</h3>
            </div>
        </a>
    {% endfor %}

</div>