{% load static %}

<div id="change-password-modal-overlay"
     class="create-file-modal-overlay fixed hidden top-0 left-0 w-full h-screen z-30"></div>

<div id="change-password-modal"
     class="no-select create-file-modal hidden fixed top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] flex items-center justify-center z-30 rounded-full">
    <div class="bg-white rounded-3xl text-center">
        <form method="POST" action="{% url 'change_password' %}" id="change-password-form">
            {% csrf_token %}
            <div class="py-10 px-10 w-[450px]">
                <h1 class="font-bold text-3xl mb-8">Change password</h1>
                <!-- Old Password -->
                <input name="old_password" type="password" required placeholder="Old Password"
                       class="focus:outline-blue-500 block m-auto mb-8 p-5 w-full rounded-full custom-shadow">
               <!-- Old Password -->
                <input name="new_password" type="password" required placeholder="New Password"
                       class="focus:outline-blue-500 block m-auto mb-8 p-5 w-full rounded-full custom-shadow">
                <!-- Old Password -->
                <input name="re_new_password" type="password" required placeholder="Re-type New Password"
                       class="focus:outline-blue-500 block m-auto mb-8 p-5 w-full rounded-full custom-shadow">

                <button type="submit"
                        class="rounded-full bg-[#879EF1] hover:bg-[#BA68C8] transition-all text-white text-2xl py-4 px-[50px] cursor-pointer">
                    Update
                </button>
                <div id="form-response" class="text-dark mt-4">

                </div>
            </div>
        </form>
    </div>
</div>
