{% load static %}

<div id="delete-account-modal-overlay"
     class="create-file-modal-overlay fixed hidden top-0 left-0 w-full h-screen z-30"></div>

<div id="delete-account-modal"
     class="no-select fade create-file-modal hidden fixed top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] flex items-center justify-center z-30 rounded-full">
    <div class="bg-white rounded-2xl text-center ">
        <div class="py-7 px-20 text-center">
            <svg class="mx-auto mb-4 w-14 h-14 text-gray-400 " fill="none" stroke="currentColor"
                 viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
            <h3 class="mb-5 text-lg font-normal text-gray-500 ">
                Are you sure you want to delete your account and all your files ?
            </h3>
            <form method="POST" action="{% url 'delete_account' %}">
                {% csrf_token %}
                <button type="submit"
                        class="transition-all text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                    Yes, I'm sure
                </button>
                <button id="cancel-delete-account"
                        type="button"
                        class="transition-all text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                    No, cancel
                </button>
            </form>
        </div>
    </div>
</div>
